<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
      <div class="header" >  
              <img style="width:210px;height: 210px; margin-top: -1%; color: #000;  " src="/assets/roone-removebg-preview.png">
              <a href= "#" class="space2"></a>
          
              <a href="#"  class="space2"> </a>
          
              <a href= "/classes" style="color:#265a87" class="space2">Home <i class=" fa fa-home" style="color:#265a87; font-size: 30px; "></i></a>      
      </div>
  <div class="container">
  <body>
  <div class="about-section">
    <h1  style="font-size:xx-large;color: #4a88bf;font-weight: 700;">About Us Page</h1>
    <p style="font-size:large">We are Unique IT Services AND Digital Marketing Solutions provider based out of Ongole, Andhra Pradesh.</p>
    <p  style="font-size:large">
      We blend creativity with feasibility. We offer a plethora of services like SEO, SEM, SMM, Complete Digital Marketing, Website Design and Development, Domain Registration, Web Hosting, E – Commerce Solutions, Content Management System.
      We Primarily focus on developing Digital Applications and Enhancing Digital marketing campaign for our customers. We also work on Building Digital products that could be outsourced with Time.
      At Ro-One Digital Solutions, we offer a one-stop solution for all your digital marketing requirements.</p>
  </div>
  
  <h2 style="text-align:center;font-size:x-large;color: #4a88bf;">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img  src="/assets/rahulsir.jpg" alt="Jane" style="width:100%">
        <div class="containerABt">
          <h2>Rahul Azmeer</h2>
          <p class="title">CEO & Founder</p>
          <p></p>
          <p>rahulazmeer@roone.com</p>
       
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/pavansir.jpg" alt="Mike" style="width:100%">
        <div class="containerABt">
          <h2>Pavansai Goli</h2>
          <p class="title">Manager</p>
          <p></p>
          <p>pavansai@roone.com</p>
          
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
          <img  src="/assets/manisir.jpg" alt="Jane" style="width:100%">
        <div class="containerABt">
          <h2>Manikumar Jami</h2>
          <p class="title">Director</p>
          <p></p>
          <p>manikumarjami@roone.com</p>
        
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
          <img  src="/assets/hrsir.jpg" alt="Jane" style="width:100%">
        <div class="containerABt">
          <h2>Sandeep Pagolu</h2>
          <p class="title">Human Resources & Product Manager</p>
          <p></p>
          <p>hr@roone.in</p>
        
        </div>
      </div>
    </div>
    
  </div>
  
  </body>
  
  
  </div>
  <div class="footer">
      <div class="container d-flex just-c-s-b">
          <div class="col">
              
    
            <h3 >About Us</h3>
              <p style="text-align: justify;">
                Attendance Management System is a software developed for daily student attendance in schools, 
                collages andinstitutes. If facilitates to access the attendanceinformation of a particular
                 student in a particularwill be provided
              </p>
             
              
              
          </div>
          <div class="col">
              <h3  >Contact Us
              </h3 >
              <p>
            
                 
                <i class="fa fa-map-marker" style="font-size:18px;color:white">  91, Ram Nagar, Ram Mandir, Delhi</i>
             
              </p>
        <p>
          <i class="fa fa-phone">    +91-8844884499</i>
          
        </p>
        <p>
          <i class="fa fa-envelope">   uma@gmail.com </i>
        </p>
        
             
                 
           
              
            </div> 
               
            <div class="col">
              <h3  > Quick Links
              </h3 >
              <p>
                <a  style="color:white;font-size:x-large;text-decoration: none;" routerLink="/form"  >Login </a>
              
             </p>
             <p>
              <a  style="color:white;font-size:x-large;text-decoration: none;" routerLink="/classtwo"  >Sign Up </a>
            
           </p>
                  <p>
                     <a  style="color:white;font-size:x-large;text-decoration: none;" routerLink="/aboutus"  >  About Us </a>
                  </p>
                  <p>
                    <a  style="color:white;font-size:x-large;text-decoration: none;" routerLink="/contactus"  >  Contact Us </a>
                  
                 </p>
                
           
              
            </div>    
        
          
      </div>
    </div>