<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header" >
      <mat-toolbar>
          <mat-toolbar-row>      
            <img style="width:210px;height: 180px; margin-top: 4%; margin-left: -19%; " src="/assets/roone-removebg-preview.png">            
            <a href="" style="color:aliceblue" class="space2"> </a>      
            <a href="" class="space2"> </a>
            <a href="" class="space2"> </a>
           <a href= "/classes" class="space2" style="color:#1b568a">  <i class=" fa fa-home" style="color: white; font-size: 30px;color:#1b568a"></i>Home</a>.
            
            <a href="/classfour" class="space2" style="color:#1b568a"  type="submit"> Register Page </a>
          </mat-toolbar-row>     
        </mat-toolbar>
  </div>
  <br>
  <br>
     <div style="color: #4a88bf;text-align: center; font-size: 30px;font-weight: bold;">Update Your Profile </div>
  <div *ngFor="let data of login ">
  <div class="container">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
      <div class="card-body">
        <div class="account-settings">
          <div class="user-profile">
            <div class="user-avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
            </div>        
            <h3 style="color:#4a88bf;font-weight: 700;" class="user-name">{{data.firstName}} {{data.lastName}}</h3>
          </div>
          <div class="about">
            <h3 style="color:#4a88bf;font-weight: 700;">About</h3>
            <p style="color:black">I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
      <div class="card-body">
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h1 style="color:#1b86e4" >Personal Details</h1>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%"> 
            <div class="form-group">
              <label for="fullName">First Name</label>
              <input type="text" value="{{data.firstName}} "  style="padding:3%"   class="form-control" id="fullName" placeholder="Enter full name" readonly >
            </div>
          </div>       
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
            <div class="form-group">
              <label for="fullName">Last Name</label>
              <input type="text" value=" {{data.lastName}}"  style="padding:3%"    class="form-control" id="fullName" placeholder="Enter full name" readonly >
            </div>
          </div>     
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
            <div class="form-group">
              <label for="eMail">Email</label>
              <input type="email" value="{{data.email}}" style="padding:3%"   class="form-control" id="eMail" placeholder="Enter email ID" readonly>
            </div>
          </div>     
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
            <div class="form-group">
              <label for="eMail">Mobile Number</label>
              <input type="email" value ="{{data.PhoneNo}}" style="padding:3%"   class="form-control" id="eMail" placeholder="Enter email ID" readonly>
            </div>
          </div>    
        <br>
        <br>
        <div class="row gutters">
          <div   >
            <h1 style="color:#1b86e4" >Address</h1>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
            <div class="form-group">
              <label for="ciTy">Town/City</label>
              <input type="name" value = "{{data.city}}" style="padding:3%"   class="form-control" id="ciTy" placeholder="Enter City" readonly>
            </div>
          </div> 
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
            <div class="form-group">
              <label for="zIp">PinCode</label>
              <input type="text" value="{{data.pincode}}"  style="padding:3%"  class="form-control" id="zIp" placeholder="Zip Code" readonly>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding:1%">
            <div class="form-group">
              <label for="Street">Area/Street</label>
              <textarea type="name" value="{{data.Area}}" rows="5" style="width:100%;padding:2%"   class="form-control" id="Street" placeholder="Enter Street" readonly></textarea>
            </div>
          </div>
        </div>
        </div>      
      </div>  
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="text-right">           
              <button  class="btn"  (click)="edit()" type="button" id="submit" name="submit" > Edit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div *ngIf="editform">
      <div class="pop-up-drop"></div>
      <div class=" ">       
      <div class="container">
        <div class="row gutters">     
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class=" ">
          <div class="card11-up">
            <div class="row gutters">
              <h1 style="color: #4a88bf; text-align: center; font-size: 30px; font-weight: 700;">Edit Profile</h1>             
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 style="color:#1b86e4" >Personal Details</h1>
              </div>           
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%"> 
                <div class="form-group">
                  <label for="fullName">First Name</label>
                  <input type="text"  style="padding:3%" [(ngModel)]="data.firstName"  class="form-control" id="fullName" placeholder="Enter full name" >
                </div>
              </div>           
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
                <div class="form-group">
                  <label for="fullName">Last Name</label>
                  <input type="text" [(ngModel)]="data.lastName"  style="padding:3%"    class="form-control" id="fullName" placeholder="Enter full name" >
                </div>
              </div>         
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
                <div class="form-group">
                  <label for="eMail">Email</label>
                  <input type="email" [(ngModel)]="data.email" style="padding:3%"   class="form-control" id="eMail" placeholder="Enter email ID" readonly>
                </div>
              </div>         
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
                <div class="form-group">
                  <label for="eMail">Mobile Number</label>
                  <input type="email" [(ngModel)]="data.PhoneNo" style="padding:3%"   class="form-control" id="eMail" placeholder="Enter email ID">
                </div>
              </div>       
            <br>
            <br>
            <div class="row gutters">
              <div   >
                <h1 style="color:#1b86e4" >Address</h1>
              </div>    
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
                <div class="form-group">
                  <label for="ciTy">Town/City</label>
                  <input type="name" [(ngModel)]="data.city" style="padding:3%"   class="form-control" id="ciTy" placeholder="Enter City">
                </div>
              </div>      
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" style="padding:1%">
                <div class="form-group">
                  <label for="zIp">PinCode</label>
                  <input type="text" [(ngModel)]="data.pincode"  style="padding:3%"  class="form-control" id="zIp" placeholder="Zip Code">
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding:1%">
                <div class="form-group">
                  <label for="Street">Area/Street</label>
                  <textarea type="name" [(ngModel)]="data.Area" rows="5" style="width:100%;padding:2%"   class="form-control" id="Street" placeholder="Enter Street"></textarea>
                </div>
              </div>
            </div>
            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">               
                  <button  class="btn"  (click)="Update(data)" type="button" id="submit" name="submit" > Update </button>
                  <button  class=" btn" style="color: white;background-color: red;" type="submit"  (click)="closeForm()" >cancel</button>
                </div>
              </div>
            </div>
          </div>          
          </div>
        </div>
        </div>
        </div>
    </div>
    </div> 
  </div>
    <br>
    <br>
    <div class="footer">
      <div class="container d-flex just-c-s-b">
          <div class="col"> 
            <h3 >About Us</h3>
              <p style="text-align: justify;">
                Attendance Management System is a software developed for daily student attendance in schools, 
                collages and institutes. If facilitates to access the attendanceinformation of a particular
                 student in a particularwill be provided
              </p>                     
          </div>
          <div class="col">
              <h3>Contact Us</h3 >
              <p>
                <i class="fa fa-map-marker" style="font-size:18px;color:white">  91, Ram Nagar, Ram Mandir, Delhi</i>
              </p>
        <p>
          <i class="fa fa-phone">    +91-8844884499</i>  
        </p>
        <p>
          <i class="fa fa-envelope">   uma@gmail.com </i>
        </p>   
            </div>      
            <div class="col">
              <h3  > Quick Links
              </h3 >
              <p>
                <a  style="color:white;font-size:x-large;text-decoration: none;" routerLink="/form"  >Login </a>  
             </p>
             <p>
              <a  style="color:white;font-size:x-large;text-decoration: none;" routerLink="/classtwo"  >Sign Up </a>  
           </p>
                  <p>
                     <a  style="color:white;font-size:x-large;text-decoration: none;" routerLink="/aboutus"  >  About Us </a>
                  </p>
                  <p>
                    <a  style="color:white;font-size:x-large; text-decoration: none;" routerLink="/aboutus"  >  Contact Us </a>
                  
                 </p> 
            </div>     
      </div>
    </div>
    </body>
   